[tool.poetry]
name = "hg_oap"
version = "0.1.5"
description = "A library to faciliate building order and pricing strategies"
readme = "README.md"
license = "MIT"
authors = [
    "Howard Henson <howard@henson.me.uk>",
    "Alexander Balabin <balabin@me.com>",
    "Simon Young <whepstead@gmail.com>",
    "Tope Olukemi <tolukemi@gmail.com>"
]
keywords = [
    "reactive", "graph", "fpg", "forward propogating graph", "time series", "functional reactive programming",
    "order", "pricing", "oms"
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: Implementation :: CPython",
]
packages = [
    { include = "hg_oap", from = "src" },
]

[tool.poetry.dependencies]
    python = ">=3.11"
    hgraph = ">=0.3.14"
    holidays = ">=0.56"

[tool.poetry.urls]
Homepage = "https://github.com/hhenson/hg_oap"
Documentation = "https://github.com/hhenson/hg_oap/blob/main/docs/index.md"
Repository = "https://github.com/hhenson/hg_oap.git"
Issues = "https://github.com/hhenson/hg_oap/blob/main/ISSUES.md"
Changelog = "https://github.com/hhenson/hg_oap/blob/main/CHANGELOG.md"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.group.test.dependencies]
pytest = "*"
mypy = "*"
pytest-cov = "*"
coverage = "*"

# Configure pytest
[tool.pytest.ini_options]
minversion = "7.4.3"
addopts = "-ra -q"
testpaths = [
    "tests",
]

# Configure coverage
[tool.coverage.run]
source_pkgs = ["hg_oap", "tests"]
branch = true
parallel = true
omit = [
]

[tool.coverage.paths]
hg = ["src/hg_oap",]
tests = ["tests",]

[tool.coverage.report]
fail_under = 80
exclude_lines = [
    "no cov",
    "if __name__ == .__main__.:",
    "if TYPE_CHECKING:",
]

[tool.black]
line-length = 120
target-version = ['py311']
unstable = true
include = '\.pyi?$'
# 'extend-exclude' excludes files or directories in addition to the defaults
extend-exclude = '''
# A regex preceded with ^/ will apply only to files and directories
# in the root of the project.
(
  ^/foo.py    # exclude a file named foo.py in the root of the project
  | .*_pb2.py  # exclude autogenerated Protocol Buffer files anywhere in the project
)
'''

[tool.mypy]
files = ["src",]

