[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "hgraph"
dynamic = ["version"]
dependencies = [
    "frozendict>=2.3.10",
    "sortedcontainers>=2.4.0",
    "ordered-set>=4.1.0",
    "numpy>=1.23",
    "polars>=1.0",
    "sqlalchemy",
    "duckdb",
    "pyarrow",
#    "perspective",
#    "tornado"
]
requires-python = ">=3.11"
authors = [
    { name = "Howard Henson", email = "howard@henson.me.uk" },
]
maintainers = [
]
description = "A functional reactive engine"
readme = "README.md"
license = { file = "LICENSE" }
keywords = [
    "reactive", "graph", "fpg", "forward propogating graph", "time series", "functional reactive programming",
]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: Implementation :: CPython",
]

[project.urls]
Homepage = "https://github.com/hhenson/hgraph"
Repository = "https://github.com/hhenson/hgraph.git"

[tool.hatch.version]
path = "src/hgraph/__about__.py"

# Development Environment Config
[tool.hatch.envs.default]
dependencies = [
    "coverage[toml]>=6.5",
    "pytest",
]

[tool.hatch.envs.default.scripts]
test = "pytest {args:tests}"
test-cov = "coverage run -m pytest {args:tests}"
cov-report = [
    "- coverage combine",
    "coverage report",
]
cov = [
    "test-cov",
    "cov-report",
]

[[tool.hatch.envs.all.matrix]]
python = ["3.11", "3.12"]

# MyPy Type Checking
[tool.hatch.envs.types]
dependencies = [
    "mypy>=1.0.0",
]

[tool.hatch.envs.types.scripts]
check = "mkdir -p .mypy_cache && mypy --cache-dir .mypy_cache --install-types --non-interactive {args:src/hgraph tests}"

# Configure pytest
[tool.pytest.ini_options]
minversion = "7.4.3"
addopts = "-ra -q"
testpaths = [
    "tests",
]

# Configure coverage
[tool.coverage.run]
source_pkgs = ["hgraph", "tests"]
branch = true
parallel = true
omit = [
    "src/hgraph/__about__.py",
]

[tool.coverage.paths]
hg = ["src/hgraph", "*/hgraph/src/hg"]
tests = ["tests", "*/hgraph/tests"]

[tool.coverage.report]
fail_under = 80
exclude_lines = [
    "no cov",
    "if __name__ == .__main__.:",
    "if TYPE_CHECKING:",
]

[tool.black]
line-length = 120
target-version = ['py311']
include = '\.pyi?$'
# 'extend-exclude' excludes files or directories in addition to the defaults
extend-exclude = '''
# A regex preceded with ^/ will apply only to files and directories
# in the root of the project.
(
  ^/foo.py    # exclude a file named foo.py in the root of the project
  | .*_pb2.py  # exclude autogenerated Protocol Buffer files anywhere in the project
)
'''